h1{
  text-align: center;
}
body{
  background-color: rgb(129, 130, 131);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}
#searchmovies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

div.movie-item > img {
  width: 300px;
  height: 450px;
  border: 1px solid rgb(240, 217, 11);
  margin: 0px 5px 5px 5px;
}

#loadmore{
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 20px;
  border: 4px double #cccccc;
  color: #eeeeee;
  /* text-align: center; */
  font-size: 15px;
  padding: 10px;




}
#buttonDiv{
  display: flex;
  justify-content: center;
}
.search{
  text-align: center;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0 20px;
  box-sizing: border-box;
  border: 2px solid #555;
}

input[type=text]:focus {
  background-color: lightblue;
}